<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>检索首页</title>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

</head>

<body><div class="wrap index-wrap">
    <div class="header">
        <div class="w clf">
            <h1 class="logo"><a href="index.html">专利智能检索试验系统</a></h1>
            <div class="login-info">
                <span class="user">您好！<span class="name">Admin</span></span>
                <a class="signout" th:href="@{${#httpServletRequest.getContextPath()} + '/login'}"  method="post" >[退出]</a>
                <span class="job">机械部</span>
                <span class="time">上次登录：2018-6-20</span>
            </div>
        </div>
    </div><!-- header] -->
    <div class="content index-main"><div class="w">
        <h1 class="index-logo">复审无效决定及司法判决检索系统</h1>
        <div class="form-mod form-search">
            <form th:action="@{/detail}" method="post" target="_blank">
                <h4 class="tit">  &nbsp;</h4>
                <div class="item">
                    <label class="lbl">待审查文本</label>
                    <textarea class="txa reviewedText" name="reviewedText" placeholder="请输入待审查文本的名称、摘要、权利要求书和全文文本内容"></textarea>
                </div>
                <div class="item">
                    <label class="lbl">分类号</label>
                    <input type="text" id="flh" class="txt flh" name="flh" placeholder=""/>
                </div>
                <div class="item">
                    <label class="lbl">申请人</label>
                    <input type="text" id="sqren" class="txt sqren" name="sqren" placeholder=""/>
                </div>
                <div class="item">
                    <label class="lbl">发明人</label>
                    <input type="text" id="fmren" class="txt fmren" name="fmren" placeholder=""/>
                </div>
                <div class="item">
                    <label class="lbl">申请日:</label>

                    <input type="text" class="text-s text-date  field" id="start"
                           onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'end\')}'})">
                    至
                    <input type="text" class="text-s text-date  field" id="end"
                           onFocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')}'})">

                    <!--<label class="lbl">申请日</label>-->
                    <!--<span class="date">-->
                    <!--<select class="slt">-->
                      <!--<option selected="" value="不限">不限</option>-->
                      <!--<option value="2018">2018</option>-->
                      <!--<option value="2017">2017</option>-->
                      <!--<option value="2016">2016</option>-->
                      <!--<option value="2015">2015</option>-->
                      <!--<option value="2014">2014</option>-->
                      <!--<option value="2013">2013</option>-->
                      <!--<option value="2012">2012</option>-->
                      <!--<option value="2011">2011</option>-->
                    <!--</select>-->
                    <!--<i class="to">-</i>-->
                    <!--<select class="slt">-->
                      <!--<option selected="" value="不限">不限</option>-->
                      <!--<option value="2018">2018</option>-->
                      <!--<option value="2017">2017</option>-->
                      <!--<option value="2016">2016</option>-->
                      <!--<option value="2015">2015</option>-->
                      <!--<option value="2014">2014</option>-->
                      <!--<option value="2013">2013</option>-->
                      <!--<option value="2012">2012</option>-->
                      <!--<option value="2011">2011</option>-->
                    <!--</select>-->
                <!--</span>-->
                </div>
                <div class="item">
                    <label class="lbl">检索范围</label>
                    <select class="slt" name="strSources">
                        <option value="ti">名称</option>
                        <option value="ab">摘要</option>
                        <option value="cl">权利要求书</option>
                        <option value="de">说明书</option>
                    </select>
                </div>
                <!--<div class="item seano">-->
                    <!--<label class="lbl">检索号单</label>-->
                    <!--<label class="lblc"><input type="radio" name="sqhno" class="rdo" checked/>申请号</label>-->
                    <!--<label class="lblc"><input type="radio" name="gkhno" class="rdo"/>公开号</label>-->
                    <!--<a class="btnf sml">上传单号<input type="file"/></a><br/>-->
                    <!--<textarea class="txa searchNo" name="searchNo" placeholder="在所输入号单中检索相关专利"></textarea>-->
                <!--</div>-->
                <div class="btnbar">
                    <button type="reset" class="btnl">清空</button>
                    <button type="submit" class="btn">检索</button>
                </div>
            </form>
        </div>
        <div class="other-col">
            <div class="recent-sea">
                <div class="head">
                    <h4 class="tit">最近检索</h4>
                    <a class="more" href="history.html">更多<i>&gt;</i></a>
                </div>
                <ol class="clf">
                    <li><span class="time">2018-02-20</span><a href="#">CN201210070147.9  带盒和带式打印机</a></li>
                    <li><span class="time">2018-02-18</span><a href="#">CN201210070147.9  硒鼓</a></li>
                    <li><span class="time">2018-02-20</span><a href="#">CN201210070147.9  带盒和带式打印机带盒和带式打印机带盒和带式打印机</a></li>
                    <li><span class="time">2018-02-18</span><a href="#">CN201210070147.9  硒鼓</a></li>
                    <li><span class="time">2018-02-20</span><a href="#">CN201210070147.9  带盒和带式打印机</a></li>
                </ol>
            </div>
            <div class="common-data">
                <div class="head">
                    <h4 class="tit">常用资料</h4>
                    <a class="more" href="#">更多<i>&gt;</i></a>
                </div>
                <ul class="clf">
                    <li><a href="#">IPC查询</a></li>
                    <li><a href="#">CPC查询</a></li>
                    <li><a href="#">相关词查询</a></li>
                </ul>
            </div>
        </div>
    </div></div><!-- content] -->

    <div class="footer"><div class="w">
        <p class="copyright">Copyright @ 2018 国家知识产权局  京ICP备18007110号</p>
    </div></div><!-- footer] -->
</div></body>
</html>
