<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>欢迎登录 - 专利智能检索试验系统</title>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>

<body class="login-page">
<div class="login-main">
    <div class="login-panel">
        <p class="logo"><img src="images/logo.png" alt="专利智能检索试验系统" /></p>
        <form id="login" th:action="@{/login}" method="post">
            <ol class="login-form">
                <li class="login-alert" style="display:none">
                    <p class="alert-error">无效的用户名或密码</p>
                </li>
                <li>
                    <input class="acc" type="text" name="username" id="username" placeholder="管理员账号" />
                </li>
                <li>
                    <input class="pass" type="password" name="password" id="password" placeholder="登录密码" />
                </li>
                <!--<li>-->
                    <!--<input class="code" type="text" name="code" id="code" placeholder="验证码" />-->
                    <!--<span class="code-mod">-->
                        <!--<img class="code-img" src="images/login-code.png" title="点击更换一张" />-->
                        <!--<a href="#" class="code-change" title="更换一张验证码"></a>-->
                    <!--</span>-->
                <!--</li>-->
                <li>
                    <button type="submit">登 录</button>
                    <label><input class="remember" type="checkbox" name="signin" checked/>记住账号</label>
                </li>
            </ol>
        </form>
    </div>
</div>

<div class="footer"><div class="w">
    <p class="copyright">Copyright @ 2018 国家知识产权局  京ICP备18007110号</p>
</div></div><!-- footer] -->
</body>
</html>
